div.content {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-unique-plugin-wrapper-class {
  padding: 10%;
  background-color: #17252a;
}
