div.content {
  height: auto;
  min-height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.my-unique-plugin-wrapper-class {
  padding: 5% 10%;
  background-color: #17252a;
}

/* CUSTOM SCROLLBAR */
.dropdown::-webkit-scrollbar {
  width: 8px;
}

.dropdown::-webkit-scrollbar-track {
  background: #3e3e3e;
  background-clip: padding-box;
  border-radius: 30px;
}

.dropdown::-webkit-scrollbar-thumb {
  background: #cf7a0a;
  background-clip: padding-box;
  border-radius: 30px;
}

/* Handle on hover */
.dropdown::-webkit-scrollbar-thumb:hover {
  background: #f68b00;
}

/* CUSTOM INPUT RANGE */

.my-unique-plugin-wrapper-class input.custom-range {
  position: relative;
  background: #fff0;
  overflow: hidden;
  font-size: 1.5rem;
  color: #cf7a0a;
  --track-color: rgb(255, 255, 255);
  --brightness-hover: 100%;
  --brightness-down: 100%;
  --thumb-height: 1.75rem;
  --track-height: 0.3rem;
  --clip-edges: 0.25rem;
}

.my-unique-plugin-wrapper-class input.custom-range:active {
  cursor: grabbing;
}

.my-unique-plugin-wrapper-class input.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  background-color: #cf7a0a;
  border: solid 2px white;
}

/* 
.my-unique-plugin-wrapper-class input.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: #cf7a0a;
  border: solid 2px white;
}

.my-unique-plugin-wrapper-class
  input.custom-range::-webkit-slider-runnable-track {
  accent-color: #cf7a0a;
} */

/* input.custom-range {
  color: #ef233c;
  --thumb-height: 1.125em;
  --track-height: 0.125em;
  --track-color: rgb(255, 255, 255);
  --brightness-hover: 180%;
  --brightness-down: 80%;
  --clip-edges: 0.125em;
} */

/* === WebKit specific styles === */
.my-unique-plugin-wrapper-class input.custom-range,
.my-unique-plugin-wrapper-class
  input.custom-range::-webkit-slider-runnable-track,
.my-unique-plugin-wrapper-class input.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

.my-unique-plugin-wrapper-class input.custom-range::-webkit-slider-track {
  border-radius: 50%;
}

.my-unique-plugin-wrapper-class
  input.custom-range::-webkit-slider-runnable-track,
.my-unique-plugin-wrapper-class input.custom-range::-webkit-slider-thumb {
  position: relative;
}

.my-unique-plugin-wrapper-class input.custom-range::-webkit-slider-thumb {
  --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
  --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
  --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
  --clip-further: calc(100% + 1px);
  --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
    100vmax currentColor;

  width: var(--thumb-width, var(--thumb-height));
  background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
    50% calc(var(--track-height) + 1px);
  background-color: currentColor;
  box-shadow: var(--box-fill);
  border-radius: var(--thumb-width, var(--thumb-height));

  filter: brightness(100%);
  clip-path: polygon(
    100% -1px,
    var(--clip-edges) -1px,
    0 var(--clip-top),
    -100vmax var(--clip-top),
    -100vmax var(--clip-bottom),
    0 var(--clip-bottom),
    var(--clip-edges) 100%,
    var(--clip-further) var(--clip-further)
  );
}

.my-unique-plugin-wrapper-class input.custom-range:hover::-webkit-slider-thumb {
  filter: brightness(var(--brightness-hover));
  cursor: grab;
}

.my-unique-plugin-wrapper-class
  input.custom-range:active::-webkit-slider-thumb {
  filter: brightness(var(--brightness-down));
  cursor: grabbing;
}

.my-unique-plugin-wrapper-class
  input.custom-range::-webkit-slider-runnable-track {
  background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
    100% calc(var(--track-height) + 1px);
}

.my-unique-plugin-wrapper-class
  input.custom-range:disabled::-webkit-slider-thumb {
  cursor: not-allowed;
}

/* === Firefox specific styles === */
.my-unique-plugin-wrapper-class input.custom-range,
.my-unique-plugin-wrapper-class input.custom-range::-moz-range-track,
.my-unique-plugin-wrapper-class input.custom-range::-moz-range-thumb {
  appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

.my-unique-plugin-wrapper-class input.custom-range::-moz-range-track,
.my-unique-plugin-wrapper-class input.custom-range::-moz-range-thumb,
.my-unique-plugin-wrapper-class input.custom-range::-moz-range-progress {
  background: #fff0;
}

.my-unique-plugin-wrapper-class input.custom-range::-moz-range-thumb {
  background: currentColor;
  border: 0;
  width: var(--thumb-width, var(--thumb-height));
  border-radius: var(--thumb-width, var(--thumb-height));
  cursor: grab;
}

.my-unique-plugin-wrapper-class input.custom-range:active::-moz-range-thumb {
  cursor: grabbing;
}

.my-unique-plugin-wrapper-class input.custom-range::-moz-range-track {
  width: 100%;
  background: var(--track-color);
}

.my-unique-plugin-wrapper-class input.custom-range::-moz-range-progress {
  appearance: none;
  background: currentColor;
  transition-delay: 30ms;
}

.my-unique-plugin-wrapper-class input.custom-range::-moz-range-track,
.my-unique-plugin-wrapper-class input.custom-range::-moz-range-progress {
  height: calc(var(--track-height) + 1px);
  border-radius: var(--track-height);
}

.my-unique-plugin-wrapper-class input.custom-range::-moz-range-thumb,
.my-unique-plugin-wrapper-class input.custom-range::-moz-range-progress {
  filter: brightness(100%);
}

.my-unique-plugin-wrapper-class input.custom-range:hover::-moz-range-thumb,
.my-unique-plugin-wrapper-class input.custom-range:hover::-moz-range-progress {
  filter: brightness(var(--brightness-hover));
}

.my-unique-plugin-wrapper-class input.custom-range:active::-moz-range-thumb,
.my-unique-plugin-wrapper-class input.custom-range:active::-moz-range-progress {
  filter: brightness(var(--brightness-down));
}

.my-unique-plugin-wrapper-class input.custom-range:disabled::-moz-range-thumb {
  cursor: not-allowed;
}
